<%- include('./partials/header.ejs') %>
<%- include('./partials/admin-navbar.ejs') %>

   <!-- Page content -->
   <div class="col-lg-9 col-md-8 col-sm-12">
    <span class="welcome-text">CATEGORY </span>

    <% if (!categories || categories.length == 0) { %>
        <p>No categories available</p>
    <% } %>
    
    <button type="button" id="btn-addCategory" class="login-button" onclick="openModalforAddCategory(null)">ADD
        Category</button>

    <table class="table">
        <thead>

            <tr>
               
                <th>Category Name</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
           
            <% categories.forEach(function(x) { %>
           
                <tr class="<%=x.deleted? 'd-none':''%>">
            <td><%= x.categoryName %></td>
            <td><%= x.categoryDescription %></td>
          
           
            <td>
                <!--delete button-->
                <button onclick="confirmDelete('<%= x._id %>')"  class="<%=x.deleted? 'd-none':''%> btn btn-primary admin-btn" role="button"><i class="fa-solid fa-trash"></i></button>

  <!-- Edit button -->
  <button class="<%=x.deleted? 'd-none':''%> btn btn-primary admin-btn"
    onclick="openModalforAddCategory('<%=  x._id %>')">Edit</button>


   
            </td>

          



            </tr>

            <% }); %>

        </tbody>
    </table>

   


</div>


</div>
</div>
<!-- Modal HTML for add product -->


<!-- Extra large modal -->
<div id="addCategoryModal" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog"
aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-xl">

<div class="modal-content">

    <h2 id="popupHeader">Add Category</h2>

    <form id="addCategoryForm" class="form-style" onsubmit="return addCategorySave(this)" action="/admin/addCategory"
        method="POST">
        
        <div class="row">
            <!-- First Column (6 columns wide on medium and larger screens) -->
            <div class="col-md-6">
                <!-- Add input fields for product details -->
                <input type="hidden" id="_id" name="_id" />
                <div class="form-group">
                    <label for="categoryName">Category Name:</label>
                    <input type="text" id="categoryName" name="categoryName" class="form-control" required>
                </div>
                
                <div class="form-group">
                    <label for="categoryDescription">Description:</label>
                    <input type="text" id="categoryDescription" name="categoryDescription" class="form-control">
                </div>
            </div>
        </div>

        <button type="submit" id="addButton" class="btn btn-primary">Add Category</button>

    </form>
    <button type="button" id="cancelButton" onclick="cancelAddCategory()">Cancel</button>

</div>
</div>

</div>






<script>
    // adding products
    function openModalforAddCategory(_id) {
        if (!_id) {

            document.getElementById("popupHeader").innerHTML = "Add Category";
            $('#addCategoryModal').modal('show');
        } else {


            fetch("/admin/getCategoryBycategoryid", {

                    method: 'POST',
                    body: JSON.stringify({
                        "_id": _id
                    }),
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
                .then(response => {
                    if (response.status == 200) {

                        response.json().then((result) => {
                            document.getElementById("popupHeader").innerHTML = "Edit Category";
document.getElementById('addButton').innerHTML="Update"
                            $('#addCategoryModal').modal('show');
                            document.getElementById("_id").value =result.data._id;                           
                            document.getElementById("categoryName").value =result.data.categoryName;                           
                            document.getElementById("categoryDescription").value = result.data.categoryDescription;


                           
                        });
                    } else {
                        response.json().then((data) => {
                            alert(data.error)
                        })
                    }
                });

        }
    }


    function addCategorySave(form) {
    
        var body = {
            "_id":form.elements._id.value,        
            "categoryName":form.elements.categoryName.value,
            "categoryDescription":form.elements.categoryDescription.value ,
        };
        
        fetch(form.action, {
                method: form.method,
                body: JSON.stringify(body),
                headers: {
                    'Content-Type': 'application/json',
                },

            })
            .then(response => {
            
                if (response.status == 200) {
                    response.json().then((data)=>{
                        console.log(data)
                        alert(data.message)
                        cancelAddCategory();
                    });
                } else {
                    response.json().then((data)=>{
                        alert(data.message)
                        cancelAddCategory();
                    });
                }
            })
            .catch(error => {
                console.error("Error:", error);
            });

        // Prevent the form from performing its default submission behavior
        return false;
    }


    function cancelAddCategory() {
        window.location.href = '/admin/adminCategories';
    }




    function confirmDelete(categoryId) {
        // Use SweetAlert for confirmation
        Swal.fire({
            title: 'Are you sure?',
            text: 'You won\'t be able to revert this!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/admin/deleteCategory?_id="+categoryId;
             
            }


        })
    }
            </script>

<style>
    .table th{
background-color: #95A5A6;
width: fit-content;
    }
</style>

<%- include('./partials/adminfooter.ejs') %>
