<%- include('./partials/header.ejs') %>
<%- include('./partials/admin-navbar.ejs') %>

<div class="col-lg-9 col-md-8 col-sm-12" style="width: 100%;">
    <span class="welcome-text">Product details</span>

    <button type="button" id="btn-addProducts" class="btn btn-primary" onclick="openModalforAdd(0)">ADD PRODUCTS</button>

    <div class="table-responsive">
        <table class="table table-striped tableAdmin">
            <thead class="table-header">
                <tr>
                    <th>Images</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Registration Date</th>
                    <th>Coupon</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% if (products.length === 0) { %>
                    <tr>
                        <td colspan="8" class="text-center">No products available</td>
                    </tr>
                <% } else { %>
                    <% products.forEach(function(x) { %>
                        <tr>
                            <td>
                                <% x.productImages.forEach(function(image) { %>
                                    <img src="/fileupload/files/<%= image.imageName %>" alt="<%= image.imageName %>"
                                        style="width: 100px; height: 100px;">
                                <% }); %>
                            </td>
                            <td><%= x.productName %></td>
                            <td><%= x.productCategory %></td>
                            <td><%= (new Date(x.date)).toLocaleDateString("en-US") %></td>
                            <td><%= x.productCoupon %></td>
                            <td><%= x.productDescription %></td>
                            <td><%= x.productPrice %></td>
                            <td>
                                <button onclick="confirmDelete('<%= x.productNumber %>')" class="btn btn-danger admin-btn" role="button">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                                <button class="btn btn-primary admin-btn" onclick="return openModalforAdd('<%= x.productNumber %>')">
                                    <i class="fa-regular fa-pen-to-square"></i>
                                </button>
                            </td>
                        </tr>
                    <% }); %>
                <% } %>
            </tbody>
        </table>
    </div>
</div>

 


<!-- open model for add product -->
<div id="addProductModal" class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog"
    aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">

        <div class="modal-content">

            <h2 id="popupHeader">Add Product</h2>

            <form id="addProductForm" class="form-style" onsubmit="return addProductSave(this)" action="/admin/addProducts"
                method="POST" enctype="multipart/form-data">
                <div class="row">
                    <div id="imgPreview" class="text-center d-flex ">
                    </div>

                    <div class="text-center p-5">
                        <label for="photos" class="file-upload-label">
                            <i class="fas fa-plus-circle fa-3x"></i>
                            <br>
                            <span>Select Product Photos</span>
                            <input type="file" id="photos" name="photos" accept="image/*" size="2000000" multiple
                                onchange="readURL(this)" style="display: none;">
                        </label>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group" id="divProductNumber" >
                            <label for="productNumber ">Product Number:</label>
                            <input type="text" id="productNumber" name="productNumber" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="productName">Product Name:</label>
                            <input type="text" id="productName" name="productName" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="brandName">Brand Name:</label>
                            <input type="text" id="brandName" name="brandName" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="productPrice">Price:</label>
                            <input type="number" id="productPrice" name="productPrice" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="stock">Stock:</label>
                            <input type="number" id="stock" name="stock" class="form-control" required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="productCategory">Product Category:</label>
                            <select id="productCategory" name="productCategory" class="form-control" required>
                                <% categories.forEach(function(x) { %>
                                    <option value="<%= x.categoryName %>"><%= x.categoryName %></option>
                                <% }); %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="productCoupon">Product Coupon:</label>
                            <input type="text" id="productCoupon" name="productCoupon" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="productDescription">Description:</label>
                            <input type="text" id="productDescription" name="productDescription" class="form-control">
                        </div>
                    </div>
                </div>

                <button type="submit" id="addButton" class="btn btn-primary">Add Product</button>

            </form>
            <!-- Modal for displaying selected images -->
<div id="imageModal" class="modalForImages">
    <div class="Imagemodal-content">
        <span onclick="closeModal()" style="cursor: pointer;">&times;</span>
        <div id="cropImage">
        <img id="image" src="" alt="Image">
        </div>
        <button id="cropButton" class="btn btn-primary">Crop Image</button>

    </div>
</div>
            <button type="button" id="cancelButton" onclick="cancelAddProduct()">Cancel</button>

        </div>
    </div>

</div>


<style>
    
</style>



<script>
    var getimages=[];
    function openModalforAdd(productNumber) {

        if (!productNumber) {

            document.getElementById("popupHeader").innerHTML = "Add PRODUCT";
            $('#addProductModal').modal('show');
            document.getElementById('divProductNumber').style.display = 'none';
        } else {


            fetch("/admin/getProductByProductNumber", {
                    method: 'POST',
                    body: JSON.stringify({
                        productNumber: productNumber
                    }),
                    headers: {
                        'Content-Type': 'application/json',
                    },
                })
                .then(response => {
                    if (response.status == 200) {

                        response.json().then((res_data) => {
                            const data = res_data.product;
                            // Get the modal element by its ID
                            $('#addProductModal').modal('show');
                            document.getElementById("popupHeader").innerHTML = "Edit PRODUCT";

                            document.getElementById('addButton').innerHTML="Update"
                            document.getElementById('divProductNumber').style.display = 'block';
                            document.getElementById("productNumber").value = data.productNumber;


                            document.getElementById("productName").value = data.productName;
                            document.getElementById("productCategory").value = data.productCategory;
                            document.getElementById("brandName").value = data.brandName;
                            document.getElementById("productPrice").value = data.productPrice;

                            document.getElementById("productCoupon").value = data.productCoupon;
                            document.getElementById("stock").value = data.stock;
                            document.getElementById("productDescription").value = data.productDescription;
                            getimages = data.productImages;
                            for (let i = 0; i < data.productImages.length; i++) { 
                                
                                var img=document.createElement("img");
                                 img.className="img-fluid imgPreview-img" ;
                                 img.src="/fileupload/files/"+data.productImages[i].imageName;
                                 document.getElementById('imgPreview').appendChild(img);                            
                            }

                        });
                    } else {


                        response.json().then((data) => {
                            alert(data.error)
                        })
                    }
                });

        }
    }


    function addProductSave(form) {
       
        const formData = new FormData(form);
        formData.append("productImages", JSON.stringify(getimages) )
        fetch(form.action, {
                method: form.method,
                body: formData,

            })
            .then(response => {
                if (response.status == 200) {
                    response.json().then((data)=>{
                        alert(data.message)
                        cancelAddProduct();
                    });
                } else {
                    response.json().then((data)=>{
                        alert(data.error)
                        cancelAddProduct();
                    });
                }
            })
            .catch(error => {
                console.error("Error:", error);
            });

        // Prevent the form from performing its default submission behavior
        return false;
    }


    function cancelAddProduct() {
        window.location.href = '/admin/adminProducts';
    }


    // delete product confirmation
    function confirmDelete(productNumber) {
  Swal.fire({
    title: "Are you sure?",
    text: "You won't be able to revert this!",
    icon: "warning",
    showCancelButton: true,
    confirmButtonColor: "#3085d6",
    cancelButtonColor: "#d33",
    confirmButtonText: "Yes, Delete!"
  }).then((result) => {
    if (result.isConfirmed) {
      // Perform the delete action or redirect to the delete endpoint
      window.location.href = "/admin/deleteProduct?productNumber="+productNumber;

    }
  });
}
    
function readURL(input) {
    if (input.files && input.files.length > 0) {
      var max = input.files.length;

      if (input.files.length > 5) {
        max = 5;
        alert("Maximum upload count is restricted to Five", input.files.length);
      }

      var previewContainer = document.getElementById('imgPreview');
      previewContainer.innerHTML = '';    

      for (let i = 0; i < max; i++) {
        var reader = new FileReader();
        const img = document.createElement("img");
        img.id = "uploadImg"+i;
        img.className = "img-fluid";
        reader.onload = function (e) {         
          img.setAttribute('src', e.target.result);
          previewContainer.appendChild(img);
          img.onclick = function() {
            showModal(e.target.result, img);           
        };
        };
        reader.readAsDataURL(input.files[i]);
      }

     
    }
  }
  
    function showModal(imageSource, imgElement) {
        var modal = document.getElementById('imageModal');
        modal.style.display = 'block';
        $("#cropImage").empty();
        const image = document.createElement("img");
        image.id="image";
        image.src = imageSource;
        document.getElementById('cropImage').appendChild(image);        
        setTimeout(() => {
            imagePreview(image, imgElement)
        }, 100);
        
        
  }

  function imagePreview(image,imgElement){
    const cropper = new Cropper(image, {
            aspectRatio: 16 / 9,
            crop(event) {
                console.log(event.detail.x);
                console.log(event.detail.y);
                console.log(event.detail.width);
                console.log(event.detail.height);
                console.log(event.detail.rotate);
                console.log(event.detail.scaleX);
                console.log(event.detail.scaleY);
            },
        });

        // Button click event handler
        document.getElementById('cropButton').addEventListener('click', function () {
            // Get the cropped canvas
            const croppedCanvas = cropper.getCroppedCanvas();
            if(croppedCanvas){
                imgElement.src = croppedCanvas.toDataURL('image/jpeg');
            } else{
                Swal("Error","croppedCanvas null")
            }
            // Set the source of the original image to the data URL of the cropped canvas
            closeModal();
        });
        // Copy images from preview container to modal content
  }
  function closeModal() {
    var modal = document.getElementById('imageModal');
    modal.style.display = 'none';
  }
</script>
<style>
    /* Add your styling for the modal */
.modalForImages {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999; /* Make sure the modal is on top of other elements */
}

.imagemodal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.img-fluid {
  max-width: 100%;
  max-height: 100%;
}

  </style>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.css"
    integrity="sha512-bs9fAcCAeaDfA4A+NiShWR886eClUcBtqhipoY5DM60Y1V3BbVQlabthUBal5bq8Z8nnxxiyb1wfGX2n76N1Mw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js"
    integrity="sha512-9KkIqdfN7ipEW6B6k+Aq20PV31bjODg4AA52W+tYtAE0jE0kMx49bjJ3FgvS56wzmyfMUHbQ4Km2b7l9+Y/+Eg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<%- include('./partials/adminfooter.ejs') %>
