<%- include('./partials/header.ejs') %>
<%- include('./partials/admin-navbar.ejs') %>

    <span class="welcome-text">View Order Details</span>

    <div>
        <table class="tableAdmin">
            <thead class=" table-header">
               
                    <tr>
                      <th>Product details</th>
                      <th>Customer</th>
                      <th>Order Date</th>
                      <th>Order Id</th>

                      <th>Category</th>
                      <th>Price</th>
                      <th>Payment Method</th>
                      <th>Status</th>

                    </tr>
                  </thead>
                  <tbody>
                    <% orders.forEach(function(order) { %>
                      <tr><td>
                            <img src="/fileupload/files/<%=order.productImage%>" alt="Product Image" class="img-fluid">
                            <%= order.productName %></td>

                            <td><%= order.fullName %>
                              <%= order.email %></td>
                            <td><%= (new Date(order.date)).toLocaleString("en-US") %></td>
                        <td><%= order.orderid %></td>

                        
                        <td><%= order.productCategory %></td>
                        <td><%= order.productPrice %></td>
                        <td><%= order.paymentMethod %></td>
                      
                        <td>
                          <%   if(order.deliveryStatus === "delivered") { %>
                          
                            <i class="fa fa-check" style="color: green;" aria-hidden="true"></i>
                        <% } else {%>
                          <%= order.orderStatus %> - <%= order.deliveryStatus %>
                          <% if (order.orderStatus === "pending") { %>
                            <button id="ship-btn" onclick="shipOrder('<%= order.orderid %>','<%= order.product_id %>')">Ship</button>
                          <% } else if (order.orderStatus === "shipped") { %>
                            <button id="delivery-btn" onclick="deliveryOrder('<%= order.orderid %>','<%= order.product_id %>')">Deliver</button>
                            <% }} %>
                        </td>
                        
                      </tr>
                    <% }); %>
                
            
            </tbody>
        </table>
    </div>
</div>

<script>
 function shipOrder(orderid,product_id) {
  fetch("/admin/shipOrder", {
    method: 'POST',
    body: JSON.stringify({
      orderid: orderid,
      product_id:product_id
    }),
    headers: {
      'Content-Type': 'application/json',
    },
  })
  
  .then(response => {
  if (response.status === 200) {
    return response.json(); // Parse the JSON data
  } else {
    console.error('Failed to ship order.');
    throw new Error('Failed to ship order.');
  }
})
.then(data => {
  // This block will execute after parsing the JSON data
  console.log(data); // Use data if needed
  window.location.reload(); // Reload the page
  alert(`Order ${orderid} has been shipped.`);
})
.catch(error => {
  // Handle any errors that occurred during the fetch
  console.error('Error:', error);
});


} 
  
function deliveryOrder(orderid, product_id) {
  fetch("/admin/deliveryOrder", {
    method: 'POST',
    body: JSON.stringify({
      orderid: orderid,
      product_id: product_id
    }),
    headers: {
      'Content-Type': 'application/json',
    },
  })
  .then(response => {
    if (response.status === 200) {
      return response.json(); // Parse the JSON data
    } else {
      console.error('Failed to deliver Order.');
      throw new Error('Failed to deliver Order.');
    }
  })
  .then(data => {
    alert(`Order ${orderid} has been delivered.`);
    
    window.location.reload();
  })
  .catch(error => {
    // Handle any errors that occurred during the fetch
    console.error('Error:', error);
  });
}

</script>
 <style>
   .success-icon {
        color: green;
        font-size: 1em;
        display: none;
    }
 </style>

<%- include('./partials/footer.ejs') %>
