<%- include('./partials/header.ejs') %>
<link rel="stylesheet" type="text/css" href="/cartPage.css">

  
<div id="cartDiv" class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <% if (cartItems.length === 0) { %>
                        <div class="col">
                            <div class="empty-cart">
                                <h4><b>Shopping Cart</b></h4>
                                <p style="padding: 3rem;">NO PRODUCTS IN YOUR CART</p>
                            </div>
                        </div>
                    <% } else { %>
                        <div class="col">
                            <h4><b>Shopping Cart</b></h4>
                            <div class="col align-self-center text-right"><%= cartItems.length %> ITEMS IN YOUR CART</div>
                        </div>
                    <% } %>
                </div>
            </div>

            <% if (cartItems.length > 0) { %>
                <div class="row border-top border-bottom">
                    <% products.forEach(x => { %>
                        <div class="row main align-items-center">
                            <!-- ... (your existing code for cart items) ... -->
                            <div class="col-2">
                                <img src="/fileupload/files/<%= x.productImages[0]?.imageName %>" alt="<%= x.productImages[0]?.imageName %>">
                            </div>
                            <div class="col">
                                <div class="row text-muted"><%= x.productName %></div>
                                <div class="row"><%= x.description %></div>
                            </div>
                            <div class="col">
                                <div class="quantity-control">
                                    <a href="#" onclick="updateQuantity('<%= x.cartCount %>','<%=x.cartId %>','decrease')">-</a>
                                    <a href="#" class="border" id="quantityValue"><%= x.cartCount %></a>
                                    <a href="#" onclick="updateQuantity('<%= x.cartCount %>','<%=x.cartId %>', 'increase',)">+</a>
                                </div>
                            </div>
                          
                            <% if (x.discountedAmount) { %>
                                <p>
                                    <span style="text-decoration: line-through;">Rs.<%= x.discountedAmount %> </span>
                                    Rs.<%= x.productPrice %>
                                </p>
                            <% } else { %>
                                <p>No Discount. Price: Rs.<%= x.originalPrice %></p>
                            <% } %>
                                                        <div class="col delete">
                                <button class="deleteBtn" onclick="removeCartItem('<%= x.cartId %>')">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    <% }); %>
                </div>
            <% } %>
            <div class="back-to-shop">
                <a href="/home">
                    <button>Continue Shopping</button>
                </a>
            </div>
        </div>

        <% if (cartItems.length > 0) { %>
            <div class="col-md-4 summary">
                <form action="/order/addressPage" method="POST">
                    <div>
                        <h5><b>Summary</b></h5>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col" style="padding-left:0;">AMOUNT:</div>
                        
                        <div class="col text-right">Rs.<span><%=amount+discountedCouponAmount %></span></div>
                    </div>
                    

                    <p>Select Your Payment Method</p>
                    <select id="paymentMethod" name="paymentMethod">
                      <option value="CASH ON DELIVERY">CASH ON DELIVERY</option>
                      <option value="RAZORPAY">RAZORPAY</option>
                      <option value="WALLET">WALLET</option>
                    </select>
                    
                    <div id="walletInfo">
                        <p>Your Wallet Balance: Rs.<span id="walletBalance"><%=walletAmount %></span></p>
                       
                    </div>
                    <p>GIVE CODE</p>
                    <input id="coupounCode" type="text" name="coupounCode" value="<%= couponData?.couponCode %>"  placeholder="Enter your code">
                    <input id="amount"  type="hidden" name="amount" value="<%= amount %>" >
                    <% if(couponData) {%>
                        <span class="coupon-applied-label">Coupon Applied</span>
                        <button type="button" onclick="removeCoupon()" class="btn btn-light">Remove Coupon</button>

                    <% } else { %> 
                        <button type="button" id="applyCodeBtn" onclick="applyCode()" class="btn btn-light">Apply Code</button>
                        <% } %>
                    <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                        <div class="col text-right">
                            
                            <ul>

                                <li>Original Amount: Rs.<span id="originalAmount"><%= amount +discountedCouponAmount%></span></li>
                                <li>Coupoun Amount: Rs.<span id="CouponAmount"><%= discountedCouponAmount %></span></li>

                                    <li>Final Amount: Rs.<span id="finalAmount"><%= amount %></span></li>
                                </ul>
                                
                        </div>
                    </div>
                    <label>
                        Use Wallet
                        <input type="checkbox" id="useWalletCheckbox" onchange="updatePaymentOptions('<%= amount %>')">
                    </label>

                    <button type="submit" class="btn btn-light">CHECKOUT</button>
                </form>
            </div>
        <% } %>

    </div>
</div>

<script>

function updateQuantity(cartCount, cartId, action) {
    if (cartCount == 1 && action === 'decrease') {
        return;
    }

    try {
        fetch('/cartPage/updateQuantity', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                cartCount: cartCount,
                cartId: cartId,
                action: action
            })
        }).then(response => response.json())  // Parse the JSON response
          .then(data => {
              if (data.message === 'Cart count updated successfully') {
                  window.location.reload();
              } else if (data.message === 'Out of Stock') {
                  // Use SweetAlert to display a custom alert
                  Swal.fire({
                      title: 'Out of Stock',
                      confirmButtonText: 'OK'
                  });
              } else {
                  alert('Failed to add product to cart.');
              }
          });
    } catch (error) {
        console.error('Error adding product to cart:', error);
    }
}

    function removeCartItem(cartItemId) {
        Swal.fire({
            title: "Are you sure?",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, Delete!"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/cartPage/removeFromCart?_id=" + cartItemId;
            }
        });
    }

  
    function applyCode() {
       var coupounCode= document.getElementById('coupounCode').value
   window.location.href="/cartPage/cartPage?coupounCode="+coupounCode;
  
}

function removeCoupon() {
        window.location.href = "/cartPage/cartPage";
    }
    function updatePaymentOptions(amount) {
      
    const useWalletCheckbox = document.getElementById('useWalletCheckbox');
    if (useWalletCheckbox.checked) {
        const paymentMethodSelect = document.getElementById('paymentMethod');

paymentMethodSelect.value = useWalletCheckbox.checked ? 'WALLET' : paymentMethodSelect.options[0].value;

        try {
            fetch('/order/orderConfirmation', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                // You can pass any necessary data in the body, like user details or payment amount
                body: JSON.stringify({
                    amount: amount
                }),
            })
            .then(response => response.json())  // Parse the JSON response
            .then(data => {
               alert(data.message)
                
            })
            .catch(error => {
                console.error('Error adding product to cart:', error);
            });
        } catch (error) {
            console.error('Error:', error);
        }
    }
}

</script>

<%- include('./partials/footer.ejs') %>
