<%- include('./partials/header.ejs') %>
<link rel="stylesheet" type="text/css" href="/cartPage.css">

<div id="cartDiv" class="card">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <% if (cartItems.length === 0) { %>
                        <div class="col">
                            <h4><b>Shopping Cart</b></h4>
                            <p style="padding: 3rem;">NO PRODUCTS IN YOUR CART</p>
                        </div>
                    <% } else { %>
                        <div class="col">
                            <h4><b>Shopping Cart</b></h4>
                            <div class="col align-self-center text-right"><%= cartItems.length %> ITEMS IN YOUR CART</div>
                        </div>
                    <% } %>
                </div>
            </div>

            <% if (cartItems.length > 0) { %>
                <div class="row border-top border-bottom">
                    <% products.forEach(x => { %>
                        <div class="row main align-items-center">
                            <!-- ... (your existing code for cart items) ... -->
                            <div class="col-2">
                                <img src="/fileupload/files/<%= x.productImages[0]?.imageName %>" alt="<%= x.productImages[0]?.imageName %>">
                            </div>
                            <div class="col">
                                <div class="row text-muted"><%= x.productName %></div>
                                <div class="row"><%= x.description %></div>
                            </div>
                            <div class="col">
                                <div class="quantity-control">
                                    <a href="#" onclick="updateQuantity('<%= x.cartCount %>','<%=x.cartId %>','decrease')">-</a>
                                    <a href="#" class="border" id="quantityValue"><%= x.cartCount %></a>
                                    <a href="#" onclick="updateQuantity('<%= x.cartCount %>','<%=x.cartId %>', 'increase',)">+</a>
                                </div>
                            </div>
                          
                            <% if (x.discountedAmount) { %>
                                <p>
                                    <span style="text-decoration: line-through;">Rs.<%= x.discountedAmount %> </span>
                                    Rs.<%= x.productPrice %>
                                </p>
                            <% } else { %>
                                <p>No Discount. Price: Rs.<%= x.originalPrice %></p>
                            <% } %>
                                                        <div class="col delete">
                                <button class="deleteBtn" onclick="removeCartItem('<%= x.cartId %>')">
                                    <i class="fa-solid fa-trash"></i>
                                </button>
                            </div>
                        </div>
                    <% }); %>
                </div>
            <% } %>
            <div class="back-to-shop">
                <a href="/home">
                    <button>Back to shop</button>
                </a>
            </div>
        </div>

        <% if (cartItems.length > 0) { %>
            <div class="col-md-4 summary">
                <form action="/order/addressPage" method="POST">
                    <div>
                        <h5><b>Summary</b></h5>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col" style="padding-left:0;">AMOUNT:</div>
                        
                        <div class="col text-right">Rs.<span><%=amount %></span></div>
                    </div>
                    

                    <p>Select Your Payment Method</p>
                    <select id="paymentMethod" name="paymentMethod">
                        <option class="text-muted">CASH ON DELIVERY</option>
                        <option class="text-muted">RAZORPAY</option>
                    </select>

                    <p>GIVE CODE</p>
                    <input id="code" type="text" name="code" placeholder="Enter your code">
                    <input id="amount"  type="hidden" name="amount" value="<%= amount %>" >

                    <button id="applyCodeBtn" onclick="applyCode('<%= amount%>')" class="btn btn-light">Apply Code</button>
                    <button id="appliedCodeBtn" style="display: none;"  class="btn btn-light">Code Applied</button>

                    <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                        <div class="col text-right">
                            
                            <ul>

                                <li>Original Amount: Rs.<span id="originalAmount"><%= amount %></span></li>
                                    <li>Final Amount: Rs.<span id="finalAmount"><%= updatedAmount? updatedAmount :amount %></span></li>
                                </ul>
                                
                        </div>
                    </div>
                    

                    <button type="submit" class="btn btn-light">CHECKOUT</button>
                </form>
            </div>
        <% } %>

    </div>
</div>

<script>

    function updateQuantity(cartCount, cartId, action) {

        if(cartCount==1 && action === 'decrease'){
            return
        }

        try {
            fetch('/cartPage/updateQuantity', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    cartCount: cartCount,
                    cartId: cartId,
                    action: action
                })
            }).then(response => {
                if (response.ok) {
                    window.location.reload();
                } else {
                    alert('Failed to add product to cart.');
                }
            });

        } catch (error) {
            console.error('Error adding product to cart:', error);
        }

    }



    function removeCartItem(cartItemId) {
        Swal.fire({
            title: "Are you sure?",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Yes, Delete!"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/cartPage/removeFromCart?_id=" + cartItemId;
            }
        });
    }

  
    function applyCode(amount) {
    try {
        debugger
        fetch('/coupons/applyCoupon', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                amount: amount,
            })
        }).then(data => {
            // Update the displayed amount
            document.getElementById('displayedAmount').innerHTML=data.updatedAmount;

            // Show/hide the code buttons
            document.getElementById('appliedCodeBtn').style.display = 'block';
             document.getElementById('applyCodeBtn').style.display = 'none';
            window.location.reload();
        }).catch(error => {
            console.error('Error applying Coupon:', error);
            alert('Failed to apply Coupon');
        });

    } catch (error) {
        console.error('Error applying Coupon:', error);
        alert('Failed to apply Coupon');
    }
}

</script>

<%- include('./partials/footer.ejs') %>
