<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>


<!-- hompepage content -->
<div class="row" style="background-color: #E1E9F0;">

  <div class="col-md-6 mt-5 text-center p-5">
    <h1 style="font-weight: 500;">New Arrivals</h1>
    <h5>
      Explore our latest collection of baby products. Each item is thoughtfully designed to provide comfort and style
      for your little one.
    </h5>
  </div>
  <div class="col-md-6">
    <img class="img-fluid" src="/images/pexels-photo-1973270.webp">

  </div>
</div>








<!--card view-->
<div class="container">
  <div class="row justify-content-center text-center p-5">
    <h1>FOR NEW BORN</h1>


    <div class="row">

      <% products.forEach(function(item) { %>

      <div class="col-md-4 pt-5">
        <div class="row">
        

            <div class="card shadow" style="width: 18rem;">
              <div class="inner">
                <img src="/fileupload/files/<%= item.productImages[0]?.imageName %>" alt="<%= item.imageName %>">

              </div>
              <div class="card-body">
                <a href="/home/productViewPage?productNumber=<%=item.productNumber %>">
                <h5 class="card-title"><%= item.productName %></h5>
                <h6>Rs.<%= item.productPrice %></h6>

              </a>
                <% if (!item.isWishListed) { %>
                <i id="wishlistButton" class="fa-regular fa-heart"
                  onclick="addToWishlist('<%= item.productNumber %>')"></i>
                <% } else { %>
                <i id="wishlistButtonfilled" class="fa-solid fa-heart" style="color: red;"
                  onclick="addToWishlist('<%= item.productNumber %>')"></i>
                <% } %>
              
          
        </div>
      </div>
 
    </div>
  </div>

  <% }); %>
</div>




</div>
</div>
<section>

  <div class="row" style="background-color: #E8DCF0;">
      <div class="col-md-6">
      <img class="img-fluid" src="/images/baby-sleeping-baby-baby-girl.webp">
    </div>
    <div class="col-md-6">
      <h1>everything your baby needs</h1>
      <h6>
        we understand the importance of quality
        and safety when it comes to your baby.
        Our products are carefully selected to meet
        the highest safety standards and are designed
        for your baby's comfort and well-being
      </h6>
    </div>
  
  </div>

</section>





<script>
  function addToWishlist(productNumber) {

    try {
      
      fetch('/wishlist/addToWishlist', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({
          productNumber: productNumber,
        })
      }).then(response => {
        // Check if the response is successful
        if (response.ok) {
          window.location.reload()
        } else {
          // Handle errors
          alert('Failed to add product to cart.');
        }
      });

    } catch (error) {
      // Handle errors
      console.log('Error adding product to cart:', error);
    }
  }
</script>

<%- include('./partials/footer.ejs') %>
