<%- include('./partials/header.ejs') %>
<link rel="stylesheet" type="text/css" href="/product-preview.css">
<script src="https://unpkg.com/js-image-zoom@0.4.1/js-image-zoom.js" type="application/javascript"></script>

<%- include('./partials/navbar.ejs') %>

<div class="container">
  <div class="card">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="preview">
            <div class="preview-pic tab-content">
              <% productDetails.productImages.forEach(function(item, index) { %>
              <div class="image-container tab-pane <%= index === 0 ? 'active' : '' %>" id="pic-<%= index %>">
                <img src="/fileupload/files/<%= item.imageName %>">
              </div>
              <% }); %>
            </div>
            <ul class="preview-thumbnail nav nav-tabs">
              <% productDetails.productImages.forEach(function(item, index) { %>
              <li class="<%= index === 0 ? 'active' : '' %>">
                <a data-target="#pic-<%= index %>" data-toggle="tab">
                  <img src="/fileupload/files/<%= item.imageName %>" />
                </a>
              </li>
              <% }); %>
            </ul>
          </div>
        </div>

        <div class="col-md-6">
          <div class="details">
            <h3 class="product-title"><%= productDetails.productName %></h3>
            <div class="rating">
              <div class="stars">
                <% for (let i = 0; i < productDetails.rating; i++) { %>
                <span class="fa fa-star checked"></span>
                <% } %>
                <% for (let i = productDetails.rating; i < 5; i++) { %>
                <span class="fa fa-star"></span>
                <% } %>
              </div>
            </div>
            <p class="product-description"><%= productDetails.productDescription %></p>

            <% if (discountedAmount) { %>
                <p>
                    <span style="text-decoration: line-through;">Rs.<%= productDetails.productPrice %></span>
                    Rs.<%= discountedAmount %>
                </p>
            <% } else { %>
                <p>Rs.<%= productDetails.productPrice %></p>
            <% } %>
            
            
            <div class="action">
            
                <% if (isCarted) { %>
                  
                  <a id="goToCartIcon2" class="add-to-cart btn btn-default"  href="/cartPage/cartPage">GO TO CART</a>
                
                <% } else {%>
                  <button id="cartIcon" class="add-to-cart btn btn-default" type="button"
                onclick="addToCart('<%= productDetails.productNumber %>')" >ADD TO CART</button>
                <a id="goToCartIcon" class="add-to-cart btn btn-default"   style="display: none;" href="/cartPage/cartPage">GO TO CART</a>

                  <% } %>
                  
                
                  <% if (!isWishListed) { %>
                    <i id="wishlistButton" class="fa-regular fa-heart"
                      onclick="addToWishlist('<%= productDetails.productNumber %>')"></i>
                    <% } else { %>
                    <i id="wishlistButtonfilled" class="fa-solid fa-heart" style="color: red;"
                      onclick="addToWishlist('<%= productDetails.productNumber %>')"></i>
                    <% } %>
                  
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<script>
   function addToCart(productNumber) {

    try {
      fetch('/cartPage/addToCart', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            productNumber: productNumber,
          })
        }).then(response => {
          if (response.ok) {
          
document.getElementById('cartIcon').style.display="none";
document.getElementById('goToCartIcon').style.display="block";



            getCartCount();

          } else {
            alert('Failed to add product to cart.');
          }
        });

    } catch (error) {
      console.error('Error adding product to cart:', error);
    }
  }

   function addToWishlist(productNumber) {
  try {
     fetch('/wishlist/addToWishlist', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({
        productNumber: productNumber,
      })
    }).then(response => {
          if (response.ok) {
      window.location.reload();
      getWhishlistCount();
          }

     else {
      alert('Failed to add product to wishlist.');
    }
  })
  } catch (error) {
    console.error('Error adding product to wishlist:', error);
  }
}

 
</script>









<%- include('./partials/footer.ejs') %>
