<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<link rel="stylesheet" type="text/css" href="/profile.css">



<div class="container main-div">
    <div class="row">
        
        <!-- Left Column for Profile Image -->
        <div class="col-md-6 text-center text-white pt-5">
            <h1>User Profile </h1>

            <form action="/profile/updateProfile" method="POST" enctype="multipart/form-data">
                <div class="profileImage-container">
                    <div class="profileImage-round">
                        <label for="photos" class="file-upload-label">

                        <img id="previewImage" src="<%= user && user.profileImage ? '/fileupload/files/'+user.profileImage : '/images/download.png' %>" alt="Profile Image"></label>
                        <input type="file" id="photos" name="photos" accept="image/*" size="2000000" multiple onchange="readURL(this)" style="display: none;">
                    </div>
                </div>
        </div>

        <!-- Right Column for Form Details -->
        <div class="col-md-6 pt-5" >
                <label for="fullName">Name:</label>
                <input type="text" id="fullName" name="fullName" value="<%= user ? user.fullName : '' %>" required>

                <label for="email">Email:</label>
                <input type="email" disabled id="email" name="email" value="<%= user ? user.email : '' %>" required>

                <label for="phone">Phone:</label>
                <input type="phone" disabled id="number" name="number" value="<%= user ? user.number : '' %>">


                <!-- Add other input fields for additional profile information -->
                <label for="address" style="font-weight: bold;">Address:</label>
                


              
                <% if (addressList.length === 0) { %>
                    <!-- Display form for entering a new address -->
                    <form id="addressForm" action="/saveAddress" method="POST">
                        <textarea id="address" name="address" placeholder="Enter your address Here..." required></textarea><br>
                
                
                    </form>
                <% } else { %>
                    <% const address = addressList[0]; %>
                    Full Name: <%= address.fullName %><br>
                    Pincode: <%= address.pincode %><br>
                    Address: <%= address.address %><br>
                    Landmark: <%= address.landmark %><br>
                    City: <%= address.city %><br>
                    State: <%= address.state %><br>
                    Mobile: <%= address.mobile %><br>
                <% } %>
                
                
               
                                <button  type="submit">Update Profile</button>
                                <label>Your Referral Code:
                                <span id="referralCode"> <%=user.referralCode %></span></label>
                                
                            </div>
            </form>
        </div>
    </div>
</div>

<div class="profile-container pt-5">
    <div class="row">
        <div class="col-md-3 p-3 text-center main-divCards">
<h3>WISHLIST</h3>
<a href="/wishlist/wishlist">View wishlist</a>
        </div>
        <div class="col-md-3 text-center p-3 main-divCards">
            <h3>CART</h3>
            <a href="/cartPage/cartPage">View Cart Items</a>
        </div>
        <div class="col-md-3 p-3 text-center main-divCards">
            <h3>ORDERS</h3>
            <a href="order/viewOrderPage">View Orders</a>
        </div>
        <div class="col-md-3 p-3 text-center main-divCards">
            <h3>COUPONS</h3>
            <a href="/coupons/viewCoupons">View available Coupouns</a>

           
        </div>
        
    </div>
</div>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                // Update the src attribute of the previewImage
                document.getElementById('previewImage').src = e.target.result;
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
<style>
    .profile-container{
        padding-bottom: 4rem;
    }
    
</style>
<%- include('./partials/footer.ejs') %>
