<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>

<div class="container">
    <h2 class="my-4">Wishlist</h2>

    <div class="row pt-5">
      <div class="col">
          <% if (products.length === 0) { %>
              <h4><b>Shopping Cart</b></h4>
              <p style="padding: 3rem;">NO PRODUCTS IN YOUR CART</p>
          <% } else { %>
              <h4><b>Shopping Cart</b></h4>
              <div class="col align-self-center text-right"><%= products.length %> ITEMS IN YOUR CART</div>
          <% } %>
      </div>
  
      <% if (products.length > 0) { %>
        <div class="row border-top border-bottom">

          <% products.forEach(product => { %>
              <div class="col-md-4 col-lg-3">
                  <div class="card product-card">
                      <div>
                          <i id="wishlistButtonfilled" class="fa-solid fa-remove ml-auto" style="color: red;"
                              onclick="removeFromWishlist('<%= product.productNumber %>')"></i>
                      </div>
                      <img src="/fileupload/files/<%= product.productImages[0]?.imageName %>" alt="Product Image"
                          class="img-fluid">
                      <div class="card-body">
                          <h5 class="card-title"><%= product.productName %></h5>
                          <p class="card-text">Rs <%= product.productPrice %></p>
                      </div>
                  </div>
              </div>
          <% }); %>
        </div>
      <% } %>
  </div>
  
</div>

<style>
       .hidden {
        display: none;
    }
    .carousel-item img {
  width: 100%;
  object-fit: cover;
  height: 60vh;
}

    .login-button {
        width: 10rem;
        border: none;
        border-radius: 60px;
        font-weight: 900;
        background-color: #D38E87;
        color: white;
        margin-bottom: 20px;
    }

    .login-button:active {
        background-color: white;
        color: #D38E87;
    }
</style>

<script>
    function removeFromWishlist(productNumber) {
        // Use SweetAlert for confirmation
        Swal.fire({
            title: 'Are you sure?',
            text: 'Are you sure to remove from wishlist?',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, Remove from wishlist'
        }).then((result) => {
            if (result.isConfirmed) {
                removeWishlistAPI(productNumber);
            }
        });
    }

    function removeWishlistAPI(productNumber) {
        try {
            fetch('/wishlist/removeFromWishlist', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    productNumber: productNumber,
                })
            }).then(response => {
                // Check if the response is successful
                if (response.ok) {
                    window.location.reload();
                } else {
                    // Handle errors
                    alert('Failed to remove product from wishlist.');
                }
            });

        } catch (error) {
            // Handle errors
            console.log('Error removing product from wishlist:', error);
        }
    }
</script>

<%- include('./partials/footer.ejs') %>
